h/* tml {
    font-family: 'Montserrat', Arial, sans-serif;
    background: #b5b5b5;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.menu {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color:black;
}

.menu p{
    margin-right: 30px;
    display: inline-block;
    color: black;
    text-align: center;
} 

.navi {
    transition: transform .2s; 
}

.navi:hover {
    transform: scale(1.2); 
}


a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
*/


input, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

textarea {
    overflow: auto;
}

#container {
    background-color: white;
    border: solid 3px #474544;
    border-radius: 4rem;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    box-shadow: 0 3px 10px #474544;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

/* h1 {
    color: #1cdaff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
} */

.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 3rem;
    right: 0.5%;
    bottom: 50%;
}

.fa-brands {
    color:  #1cdaff;
}

.fa-brands:hover{
    color: #474544;
}

.apellido {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], textarea {
	background: none;
    border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
    text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: unset;
}

.nombre {
	float: left;
	width: 45%;
}

.email {
    width: 100%;
}

textarea {
	line-height: 150%;
	height: 50px;
	resize: none;
    width: 100%;
}

input::placeholder,textarea::placeholder {
	color: #474544;
	opacity: 1;
}

#boton {
    background: none;
    border: solid 2px #474544;
    border-radius: 5rem;
    color: #1cdaff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
}

#boton:hover {
    background: #1cdaff;
    color: #F2F3EB;
    box-shadow: 0 3px 15px #b5b5b5;
}

.footer {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: self-end;
    order: 0;
    height: 50px;
}

.footer p{
    text-align: center;
    color: black;
}