body{
  margin: 0px;
  background-color: #b5b5b5 ;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
}

.principal{
  text-align: center;
  user-select: none;
}

.menu {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  height: 75px;
  align-items: center;
  justify-content: center;
  background-color:black;
  width: 100%;

}

.menu p{
  margin-right: 30px;
  display: inline-block;
  color: black;
  text-align: center;

}

.navi {
  transition: transform .2s; 
}

.navi:hover {
  transform: scale(1.2); 
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.titulo{
  font-family: 'Quicksand', sans-serif;
}

.contenido {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.footer {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  height: 50px;
}

.footer p{
  text-align: center;
  color: black    ;

}

.iconoContenedor {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}
.iconos  {
  font-size: 120px;
  transition: transform .2s; 
}

.iconos:hover {
  transform: scale(1.5); 
}

.divIconos {
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
  
}

.divIconos h3{
  display: flex;
  justify-content: center;
  font-size: 30px;
  user-select: none;
}

.carousel{
  min-height: 500px;

}

.carousel .carousel-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 500px;
  height: 500px;
}

.subtitulo {
  color: black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
}
 
