

/*
----- Para las medias querys
320px — 480px: Smartphones - Dispositivos móviles
481px — 768px: Tabletas
769px — 1024px: Ipad grandes
1025px — y mas: Desktops and laptops - Computadoras de escritorio, pantallas grandes
*/

/* Smartphones (portrait and landscape) -------------------------------------------------- */  
@media only screen  
and (min-width : 320px)  
and (max-width : 480px) { 

.logo {
    width: 90%;
}
.menu {
    font-size: small;
    width: 100%;
}

/* Principal */
.titulo{
  font-size: 25px;
}
.subtitulo {
  font-size: 20px;
}

.carousel{
  min-height: 300px;
}
.carousel .carousel-item{
  align-items: top;
  width: 300px;
  height: 300px;
}


.iconoContenedor{
  display: block;
}
.iconos{
  font-size: 50px;
}
.divIconos h3{
  font-size: 20px;
}

/* Galeria */
.container_card {  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.nav-filtro a {
  width:100px;
}
.modal-content {
  width: 100%;
}
  
}

/* Tabletas y iPads (portrait and landscape) ------------------------------------------------ */  
/* cambie (min-width : 768px) x 481 para juntar */
@media only screen  
and (min-width : 481px)  
and (max-width : 1024px) {  
   
.logo {
    width: 100%;
  }
.menu {
    font-size:medium;
  }  

 /* Principal */
.titulo{
  font-size: 30px;
}
.subtitulo {
  font-size: 25px;
}
.carousel{
  min-height: 500px;
}
.carousel .carousel-item{
  align-items: center;
  width: 500px;
  height: 500px;
}

.iconoContenedor{
  display: flex;
}
.iconos{
  font-size: 80px;
}
.divIconos h3{
  font-size: 20px;
}
  
}  

/* Desktops and laptops ---------------------------------------------------------------- */  
@media only screen  
and (min-width : 1025px) {  
  
.logo {
    width: 100%;
  }
.menu {
    font-size:medium;
  }  

 /* Principal */
 .titulo{
  font-size: 50px;
}
.subtitulo {
  font-size: 35px;
}
.carousel{
  min-height: 500px;
}
.carousel .carousel-item{
  align-items: center;
  width: 500px;
  height: 500px;
}

.iconos{
  font-size: 120px;
}
.divIconos h3{
  font-size: 30px;
}

}  



