
/* body {
  background-color: antiquewhite;
  margin: 0;
} */

* {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

h1 {
  background-color: rgb(109, 50, 205);
} 

.bordes {
  border: black;
  border-style:solid;
}



/* Grid Para toda el contenido de la pagina */
/* ----------------------------------------*/
.container {  
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px;    /*   grid-column-gap: 0px; / grid-row-gap: 0px; */
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Menu Body Body"
    "Footer Footer Footer";
}

.Header { 
  grid-area: Header; 
  background-color: blue;
  /* height: 120px;*/
}

.Menu { 
  grid-area: Menu; 
  background-color: aqua;
  text-align: center;  
}

.Body { 
  grid-area: Body; 
  background-color: brown;
  /* height: 500px; */
}

.Footer { 
  grid-area: Footer; 
  background-color: blueviolet;  
}



/* Para ver en celular */
.navigation {
  width: 15em;
  right: -15em;
  top: 0;
  right: 0;
  /* position: absolute; */
  overflow: hidden;
  display: block;
  height: 10000%;
  background-color: #000;
 }

 .navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 25px;
 }


.titulo {
  color: white;
  text-align: center;
}

.menu p{
  display: inline-block;
  margin-right: 30px;
}


/* Flex Body - Estos serian los flex para encolumnar en el body
    Hay 3 se pueden hacer mas, según necesitemos para mostrar */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 2;  /* Aca le doy el tamaño */
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 6;  /* Aca le doy el tamaño - esta es 3 veces mas grande que las otras */
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 2;  /* Aca le doy el tamaño */
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


/*   section{
  display: flex;
  width: 600px;
  height: 430px; 
  }

  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: 1;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  } 
  */


/*
----- Para las medias querys
320px — 480px: Smartphones - Dispositivos móviles
481px — 768px: Tabletas
769px — 1024px: Ipad grandes
1025px — 1200px: Desktops and laptops - Computadoras de escritorio, pantallas grandes
1201px y más —  Large screens - Pantallas extra grandes, TV
*/

/* Smartphones (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 320px)  
and (max-width : 480px) { 
  /* Styles */  
  .flex-container {  /* Para cambiar el flex a columnas */
    flex-direction: column;
  }

  .navigation li{
    display: block; /* los elementos van uno debajo de otro */
   }

}

/* Tabletas (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 481px)
and (max-width : 768px) {  
  /* Styles */ 

  .flex-container {  /* Para cambiar el flex a columnas */
    flex-direction: column;
  }
  .navigation li{
    display: block; /* los elementos van uno debajo de otro */
   }

}  

/* iPads (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 768px)  
and (max-width : 1024px) {  
  /* Styles */  
  .navigation{
    max-height: inherit;
    position: relative;
    right: inherit; /*anulamos su posición fuera de la pantalla */
    width: auto; /*le damos todo el ancho que necesite */
    background: transparent;
   }

   .navigation li{
    display: inline-block; /* los elementos van uno al lado del otro */
   }

   .navigation-toggle{
    width: 0;
    height: 0;
  }

}  

/* Desktops and laptops ----------- */  
@media only screen  
and (min-width : 1224px) {  
  /* Styles */  

  .navigation{
    max-height: inherit;
    position: relative;
    right: inherit; /*anulamos su posición fuera de la pantalla */
    width: auto; /*le damos todo el ancho que necesite */
    background: transparent;
   }

   .navigation li{
    display: inline-block; /* los elementos van uno al lado del otro */
   }

   .navigation-toggle{
    width: 0;
    height: 0;
  }


}  

/* Large screens -----------   
@media only screen  
and (min-width : 1824px) {  
  
}  
*/


