body {
  background-color: black;
  margin: 0;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .header { grid-area: 1 / 1 / 3 / 6; 
    background-color: blue;
    height: 120px;
  }
  .menu { grid-area: 3 / 1 / 4 / 6; 
    background-color: aqua;
    text-align: center;
  
  }
  .contenido { grid-area: 4 / 1 / 6 / 6; 
    background-color: brown;
  
  }
  .footer { grid-area: 6 / 1 / 7 / 6; 
    background-color: blueviolet;
  
  }

.titulo {
  color: white;
  text-align: center;
}

.menu p{
  display: inline-block;
  margin-right: 30px;

  /* section{
    display: flex;
    width: 600px;
    height: 430px;
  }

  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: 1;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  } */