body {
    margin: 0;
}

.contenedor {
    color: white;
}

.header {
    background-color: black;
    height: 100px;
}

.menu {
    background-color: blue;
    height: 75px;
}

.contenido {
    background-color: blueviolet;
    height: 500px;
}

.footer {
    background-color: brown;
    height: 50px;
}

.inicio {
    color: darkgreen;
    font-size: 100px;
}